USE [flower_store]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/4/2017 8:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 12/4/2017 8:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StaffID] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[Quantity] [real] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[UpdatedTime] [datetime] NOT NULL,
	[Employee_ID] [int] NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Bills] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employees]    Script Date: 12/4/2017 8:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Adress] [nvarchar](max) NULL,
	[Avata] [nvarchar](max) NULL,
	[PositionID] [int] NOT NULL,
	[Salary] [decimal](18, 2) NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[UpdatedTime] [datetime] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Employees] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Flowers]    Script Date: 12/4/2017 8:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flowers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TypeID] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedTime] [datetime] NOT NULL,
	[UpdatedTime] [datetime] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Flowers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Items]    Script Date: 12/4/2017 8:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BillID] [int] NOT NULL,
	[FlowerID] [int] NOT NULL,
	[Quantity] [real] NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[UpdatedTime] [datetime] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Items] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Positions]    Script Date: 12/4/2017 8:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[CreatedTime] [datetime] NOT NULL,
	[UpdatedTime] [datetime] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Positions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Revenues]    Script Date: 12/4/2017 8:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Revenues](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[YearID] [nvarchar](max) NULL,
	[QuantityOfDate] [real] NOT NULL,
	[QuantityOfWeek] [real] NOT NULL,
	[QuantityOfMonth] [real] NOT NULL,
	[QuantityOfQuater] [real] NOT NULL,
	[QuantityOfYear] [real] NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[UpdatedTime] [datetime] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Revenues] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Types]    Script Date: 12/4/2017 8:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Types](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CreatedTime] [datetime] NOT NULL,
	[UpdatedTime] [datetime] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Types] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([ID], [Name], [Password], [Phone], [Adress], [Avata], [PositionID], [Salary], [CreatedTime], [UpdatedTime], [Active]) VALUES (1, N'Admin', N'123456', N'123456', N'HCM', N'C__Data_Users_DefApps_AppData_INTERNETEXPLORER_Temp_Saved Images_images5O4211XK.jpg', 1, CAST(1.00 AS Decimal(18, 2)), CAST(0x0000A83201828470 AS DateTime), CAST(0x0000A83201828470 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[Flowers] ON 

INSERT [dbo].[Flowers] ([ID], [TypeID], [Name], [Price], [Quantity], [Image], [Description], [CreatedTime], [UpdatedTime], [Active]) VALUES (7, 1, N'Abcxyz', CAST(1234.00 AS Decimal(18, 2)), 123, N'25_11_2017_12_49_58_1521423288160147254291021271962101626159157.jpg', N'ádsdafdsf', CAST(0x0000A6EE00000000 AS DateTime), CAST(0x0000A6EE00000000 AS DateTime), 0)
INSERT [dbo].[Flowers] ([ID], [TypeID], [Name], [Price], [Quantity], [Image], [Description], [CreatedTime], [UpdatedTime], [Active]) VALUES (8, 1, N'12345', CAST(12346978.00 AS Decimal(18, 2)), 132, N'25_11_2017_12_57_55_224281911815999472492346472189166242170253.jpg', N'122423', CAST(0x0000A836000FE8D9 AS DateTime), CAST(0x0000A836000FE8D9 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Flowers] OFF
SET IDENTITY_INSERT [dbo].[Positions] ON 

INSERT [dbo].[Positions] ([ID], [Value], [CreatedTime], [UpdatedTime], [Active]) VALUES (1, N'Admin', CAST(0x0000A83201828462 AS DateTime), CAST(0x0000A83201828462 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Positions] OFF
SET IDENTITY_INSERT [dbo].[Types] ON 

INSERT [dbo].[Types] ([ID], [Name], [CreatedTime], [UpdatedTime], [Active]) VALUES (1, N'Abc', CAST(0x0000A6EE00000000 AS DateTime), CAST(0x0000A6EE00000000 AS DateTime), 1)
INSERT [dbo].[Types] ([ID], [Name], [CreatedTime], [UpdatedTime], [Active]) VALUES (2, N'Hồng', CAST(0x0000A83A0006D4CB AS DateTime), CAST(0x0000A83A0006D4CB AS DateTime), 1)
INSERT [dbo].[Types] ([ID], [Name], [CreatedTime], [UpdatedTime], [Active]) VALUES (3, N'lan', CAST(0x0000A83A0010E87E AS DateTime), CAST(0x0000A83A0010E87E AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Types] OFF
ALTER TABLE [dbo].[Bills] ADD  DEFAULT ((0)) FOR [Active]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [Active]
GO
ALTER TABLE [dbo].[Flowers] ADD  DEFAULT ((0)) FOR [Active]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((0)) FOR [Active]
GO
ALTER TABLE [dbo].[Positions] ADD  DEFAULT ((0)) FOR [Active]
GO
ALTER TABLE [dbo].[Revenues] ADD  DEFAULT ((0)) FOR [Active]
GO
ALTER TABLE [dbo].[Types] ADD  DEFAULT ((0)) FOR [Active]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Bills_dbo.Employees_Employee_ID] FOREIGN KEY([Employee_ID])
REFERENCES [dbo].[Employees] ([ID])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_dbo.Bills_dbo.Employees_Employee_ID]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Staffs_dbo.Positions_PositionID] FOREIGN KEY([PositionID])
REFERENCES [dbo].[Positions] ([ID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Staffs_dbo.Positions_PositionID]
GO
ALTER TABLE [dbo].[Flowers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Flowers_dbo.Types_TypeID] FOREIGN KEY([TypeID])
REFERENCES [dbo].[Types] ([ID])
GO
ALTER TABLE [dbo].[Flowers] CHECK CONSTRAINT [FK_dbo.Flowers_dbo.Types_TypeID]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Items_dbo.Bills_BillID] FOREIGN KEY([BillID])
REFERENCES [dbo].[Bills] ([ID])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_dbo.Items_dbo.Bills_BillID]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Items_dbo.Flowers_FlowerID] FOREIGN KEY([FlowerID])
REFERENCES [dbo].[Flowers] ([ID])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_dbo.Items_dbo.Flowers_FlowerID]
GO
